*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    top: 100px;
    height: 95%;
}

.navbar {
    background-color: rgb(59, 59, 59);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border: 1px solid gray;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .logo {
    color: #fff;
    font-size: 1.8em;
    text-decoration: none;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    color: greenyellow;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
    border: 1px solid greenyellow;
    padding: 3px;
    border-radius: 10px;
}

.navbar .nav-links a:hover {
    color: lightgreen;
}
#LOGODESGRACADA{
    width: 30%;
    height: auto;
    margin-top: 10px;
}

#carrinho{
    width: 80px;
    height: 80px;
    object-fit: cover;
    position: fixed;
    right: 40px;
    top: 10px;
    border: 2px solid white ;
    border-radius: 7px;
    background-color: gray;
    padding: 2px;
}