
.body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.planos{
    display: inline-flex;
    padding: 40px;
    margin: 20px;
    justify-content: center;
    margin-top: 40px;
    width: 95%;
    height: 80vh;
    background-color: gray;
    gap: 40px;
}
.boxp{
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    width: 100%;
    height: 100%;
}