*{
    box-sizing: border-box;
    
}
body {
  font-family: Arial, sans-serif; 
}
.body{
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1%;
}
.carrossel {
    width: 80%;
    overflow: hidden;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
    justify-content: flex-start;
    align-items: flex-start;
}
.texto {
    display: flex;
    transition: transform 0.5s ease;
}
.item {
    min-width: 200px; 
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid #ddd; 
}
.item:last-child {
    border-right: none; 
}
.botao {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 5px;
}
.botao:hover {
    background-color: #0056b3;
}
.produtos{
    background-color: blue;
    display: flex;
    padding: 10px 10px;
    margin: 10px;
    gap: 20px;
}
#right{
  position: absolute;
  top: 30px;
  right: 50px;
}
#left{
  position: absolute;
  top: 30px;
  left: 50px;
}
.card {
  position: relative;
  width: 11.875em;
  height: 16.5em;
  box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
}

.card::after {
  content: "Add to Cart";
  padding-top: 1.25em;
  padding-left: 1.25em;
  position: absolute;
  left: 0;
  bottom: -60px;
  background: #00AC7C;
  color: #fff;
  height: 2.5em;
  width: 90%;
  transition: all 80ms;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
}

.card .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
  color: #000;
}

.card .price {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
  color: #000;
}

.card:hover::after {
  bottom: 0;
  opacity: 1;
}

.card:active {
  transform: scale(0.98);
}

.card:active::after {
  content: "Added !";
  height: 3.125em;
}

.text {
  max-width: 55px;
}

.image {
  background: rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
