* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    background-color: cyan;
    width: 90%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
}
#pesquisa{
    position: absolute;
    left: 8%;
    border-radius: 10px;

}